@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}

.App {
  height: 100vh;
}

.app-header {
  height: 70px;
  width: 100%;
  background-color: #FFF;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
}

.app-header-allert {
  position: relative;
  width: 45px;
  height: 45px;
  background-color: #E9ECFF;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
}

.app-header-allert-counter {
  position: absolute;
  border-radius: 50%;
  background-color: #2F4CDD;
  left: -30px;
  top: -7px;
  color: #FFF;
  font-size: 12px;
  padding: 3px 7px;
}

.app-header-avatar {
  position: relative;
  background-color: #2F4CDD;
  padding: 12px 50px 12px 25px;
  border-radius: 8px;
  color: #FFF;
  cursor: pointer;
}

.app-header-avatar-white-circle {
  position: absolute;
  background-color: #FFF;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  left: 77px;
  top: -1px;
}

.app-header-avatar-avatar{
  position: absolute;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  left: 140px;
  top: 2px;
}

.app-header-allert svg {
  margin-top: 20%;
}

.app-header div {
  margin: 0 60px;
}

.app-main {
  background-color: #F9F9F9;
  width: 85vw;
  height: 100%;
  margin-left: 270px;
  transition: margin-left 0.3s;
}

.app-main-hidden {
  margin-left: 110px;
}

.app-left-menu {
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  width: 270px;
  height: 100vh;
  position: absolute;
  transition: width 0.3s;
  left: 0;
  top: 0;
  box-shadow: 18px 4px 35px rgba(0, 0, 0, 0.02);
}

.app-left-menu-nav {
  display: flex;
  flex-direction: column;
}

.app-left-menu-nav-link {
  width: 100%;
  list-style: none;
  height: 67px;
  display: flex;
  align-items: center;
  gap: 35px;
  padding-left: 50px;
  cursor: pointer;
}

.app-left-menu-nav-link a, .app-left-menu-nav-link svg {
  text-decoration: none;
  font-weight: 500;
}

.app-left-menu-nav-link a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.link-inactive {
  color: #969BA0;
}

.link-active {
  color: #2F4CDD;
}
.nav-link-bar {
  position: absolute;
  left: 0px;
}


.app-left-menu-logo-container {
  position: relative;
  height: 70px;
}

.app-left-menu-burger {
  cursor: pointer;
  transform: scale(0.05);
  position: absolute;
  top: -230px;
  right: -211px;
  transition: transform 0.3s;
}

.app-left-menu-burger-hidden {
  transform: scale(0.05) rotate(90deg) !important;
}

.app-left-menu-logo {
  transform: scale(0.7);
  width: 170px;
  cursor: pointer;
}

.app-left-menu-hidden {
  width: 110px;
}
